[submodule "mods/mff_hud"]
	path = mods/mff_hud
	url = https://github.com/MinetestForFun/mff_hud.git
[submodule "mods/irc_modpack"]
	path = mods/irc_modpack
	url = https://github.com/MinetestForFun/irc_modpack.git
[submodule "mods/farming"]
	path = mods/farming
	url = https://github.com/tenplus1/farming.git
[submodule "mods/travelnet"]
	path = mods/travelnet
	url = https://github.com/Sokomine/travelnet.git
[submodule "mods/unified_inventory"]
	path = mods/unified_inventory
	url = https://github.com/minetest-technic/unified_inventory.git
[submodule "mods/teleport-request"]
	path = mods/teleport_request
	url = https://github.com/ChaosWormz/teleport-request.git
[submodule "mods/xdecor"]
	path = mods/xdecor
	url = https://github.com/kilbith/xdecor.git
[submodule "mods/xban2"]
	path = mods/xban2
	url = https://github.com/kaeza/minetest-xban2.git
[submodule "mods/WorldEdit"]
	path = mods/WorldEdit
	url = https://github.com/Uberi/Minetest-WorldEdit.git
[submodule "mods/protector"]
	path = mods/protector
	url = https://github.com/MinetestForFun/protector.git
[submodule "mods/unified_inventory"]
	path = mods/unified_inventory
	url = https://github.com/MinetestForFun/unified_inventory.git

