[submodule "mods/mff_hud"]
	path = mods/mff_hud
	url = https://github.com/MinetestForFun/mff_hud.git
[submodule "mods/irc_modpack"]
	path = mods/irc_modpack
	url = https://github.com/MinetestForFun/irc_modpack.git
[submodule "mods/travelnet"]
	path = mods/travelnet
	url = https://github.com/Sokomine/travelnet.git
[submodule "mods/teleport-request"]
	path = mods/teleport_request
	url = https://github.com/ChaosWormz/teleport-request.git
[submodule "mods/protector"]
	path = mods/protector
	url = https://github.com/MinetestForFun/protector.git
[submodule "mods/unified_inventory"]
	path = mods/unified_inventory
	url = https://github.com/MinetestForFun/unified_inventory.git

[submodule "mods/ignore"]
	path = mods/ignore
	url = git://github.com/MinetestForFun/ignore.git
[submodule "mods/time_regulation"]
	path = mods/time_regulation
	url = git://github.com/MinetestForFun/time_regulation.git
[submodule "mods/stacktraceplus"]
	path = mods/stacktraceplus
	url = https://github.com/MinetestForFun/stacktraceplus.git
[submodule "mods/profilerdumper"]
	path = mods/profilerdumper
	url = https://github.com/MinetestForFun/profilerdumper.git
[submodule "mods/name_restrictions"]
	path = mods/name_restrictions
	url = https://github.com/MinetestForFun/name_restrictions.git
[submodule "mods/xban2"]
	path = mods/xban2
	url = https://github.com/MinetestForFun/xban2.git
[submodule "mods/mysql_auth"]
	path = mods/mysql_auth
	url = https://github.com/MinetestForFun/mysql_auth.git
