[submodule "mods/mff_hud"]
	path = mods/mff_hud
	url = https://github.com/MinetestForFun/mff_hud.git
[submodule "mods/irc_modpack"]
	path = mods/irc_modpack
	url = https://github.com/MinetestForFun/irc_modpack.git
[submodule "mods/farming"]
	path = mods/farming
	url = https://github.com/tenplus1/farming.git
[submodule "mods/travelpoints"]
	path = mods/travelpoints
	url = https://github.com/RacsoRhodes/travelpoints.git
